.itemIn {
    height: 30px;
    width: 400px;
    margin: 5px;
    border-radius: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.quantityIn {
    height: 30px;
    width: 200px;
    margin: 5px;
    border-radius: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.unitIn {
    height: 30px;
    width: 200px;
    margin: 5px;
    border-radius: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.submitBtn {
    border-radius: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}